body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    grid-column-gap: 5px;
}

.grid .album {
    margin-bottom: 5px;
    padding: 0px;
    width: 100%;
}

img:not([src]) {
    visibility: hidden;
}

.grid .album a {
    display: block;
    background-image: url("spinner.gif");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.grid .album .padding {
  content: "";
  width: 1px;
  margin-left: -1px;
  float: left;
  height: 0;
  padding-bottom: 56%;
}


.grid .album img {
    width: 100%;
    height: auto;
}

.grid .album a::after {
  content: "";
  display: table;
  clear: both;
}

.grid .album .overlay {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
    box-sizing: border-box;
    color: #000;
    background: rgba(255, 255, 255, 0.33);
    opacity: 0;
    font-size: 16px;
    font-weight: 400;
}

.grid .album .overlay h2 {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

.grid .album a:hover .overlay {
    opacity: 1;
}
