<html>
    <head>
        <meta charset="utf-8">
        <title>Funkenburg Photos</title>
        <link href="index.css" rel="stylesheet"/>
        <link href="header.css" rel="stylesheet"/>
        <script>
            window.lazyLoadOptions = {};
        </script>
    </head>
    <body>
        <header>
            <h1><a href="/" title="Home">Photos!</a></h1>
            <nav>
                <ul>
                    <li><a title="Albums" href="/">Albums</a></li>
                    <li><a target="_blank" title="NZ Travel Log" href="https://www.funkenburg.net/nz/">NZ Travel Log</a></li>
                    <li><a target="_blank" title="Funkenburg" href="https://www.funkenburg.net">Funkenburg</a></li>
                </ul>
            </nav>
        </header>

        <div class="grid">
            {{#albums}}
            <div class="album">
                <a href="{{path}}">
                    <span class="padding"></span>
                    <img
                    data-src="{{path}}/{{meta.cover_resized}}" alt="{{meta.h1}}"/>
                    <div class="overlay">
                        <h2>{{meta.h1}}</h2>
                        <p>{{meta.h2}}</p>
                    </div>
                </a>
            </div>
            {{/albums}}
        </div>

        <script async src="lazyload.min.js"></script>
    </body>
</html>
