<html>
    <head>
        <meta charset="utf-8">
        <title>{{meta.h1}} - Funkenburg Photos</title>
        <link rel="stylesheet" href="../../single.css"/>
        <link rel="stylesheet" href="../../header.css"/>
    </head>

    <body>
        <header>
            <h1><a href="/" title="Home">Photos!</a></h1>
            <nav>
                <ul>
                    <li><a title="Albums" href="/">Albums</a></li>
                    <li><a target="_blank" title="NZ Travel Log" href="https://www.funkenburg.net/nz/">NZ Travel Log</a></li>
                    <li><a target="_blank" title="Funkenburg" href="https://www.funkenburg.net">Funkenburg</a></li>
                </ul>
            </nav>
        </header>

        <div class="content">
            <img src="{{src}}"/>
            <div class="info">
                <div class="date">{{date_pretty}}</div>
                <div class="license"><a rel="license"
                        href="http://creativecommons.org/licenses/by-sa/4.0/">Creative
                        Commons Attribution-ShareAlike 4.0 International
                    License</a></div>
            </div>
        </div>
    </body>
</html>
